.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}
a.waves-light{
    margin-top: 6px;
}
.md-form{
    margin-bottom: 0px;
}